.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* -------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}


.logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}


.title {
  width: 730px;
  position: absolute;
  left: 64px;
  font-size: 36px;
  text-align: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  text-align: left;
}

.subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.main-text {
  text-align: justify;
  width: 80%;
  min-width: 784px;

  margin-left: 30px;
}

.paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  text-align: center;
  margin: 0 auto 100px;
  width: 80%;
}

.section-title {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  margin-top: 60px;
}

.table-cell {
  width: 250px;
  flex-basis: calc(25% - 20px);
  box-sizing: border-box;
  padding: 60px 20px 0;
  border-radius: 8px;
}

.table-cell-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table-cell-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table-cell-text-accent {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.feynman {
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.feynman-title {
  text-align: center;
  width: 648px;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman-subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman-link {
  position: absolute;
  top: 38.5%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman-illustration {
  width: 867px;
  height: 740px;
  position: absolute;
  top: 150px;
}

.kaufman {
  background-color: #1f1f1f;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  color: #f2f2f2;
}

.section-title-dark {
  width: 60%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle-dark {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table-dark {
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 90px;
}

.table-cell-dark {
  z-index: 1;
  margin-top: 80px;
  width: 200px;
  flex-basis: calc(20% - 20px);
}

.table-cell-heading-dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table-cell-text-dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman-illustration-dark {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
}

.columns {
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  color: #f2f2f2;
}

.content-copyright {
  flex-basis: 711px;
}

.author {
  padding-top: 17.5%;
}

.footer-logo {
  width: 228px;
  height: 32px;
}

.footer-text {
  flex-basis: 711px;
  display: flex;
  justify-content: space-around;
}

.column-heading {
  margin-bottom: 20px;
}

.column-links {
  list-style: none;
  text-align: left;
  padding: 0;
}

.column-link {
  margin-bottom: 15px;
}

.column-link a {
  text-decoration: none;
  list-style: none;
  color: #f2f2f2;
}

.column-link-logo {
  display: flex;
  align-items: baseline;
}

.footer-icon {
  width: 16px;
  height: 16px;
}

.footer-logo-social {
  color: #f2f2f2;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 15px;
}