.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/* Мои стили */



/* ----------HEADER---------- */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
}

.flex_column {
  display: flex;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  position: absolute;
  left: 64px;
  font-size: 36px;
  text-align: center;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  text-align: left;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  background-image: url('../images/two_again.png');
  background-size: cover;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 0;
  right: 0;
  margin-top: 64px;
}



/* ----------DESCRIPTION---------- */

.description {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 80%;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}



/* ----------DIGITS---------- */

.digits {
  margin: auto;
  margin-bottom: 100px;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 20px;
  text-align: center;
}

.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  margin-bottom: 20px;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.table__text-bank {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}



/* ----------FEYNMAN---------- */

.feynman {
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.feynman__title {
  text-align: center;
  width: 648px;
  margin: 0 auto 70px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 38.5%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__illustration {
  width: 867px;
  height: 740px;
  position: absolute;
  top: 150px;
}



/* ----------KAUFMAN---------- */

.kaufman {
  background-color: #1f1f1f;
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  color: #f2f2f2;
}

.section__title__dark {
  width: 60%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section__subtitle__dark {
  width: 60%;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table__dark {
  text-align: left;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 80%;
  padding-bottom: 90px;
}

.table__cell__dark {
  z-index: 1;
  margin-top: 80px;
  width: 200px;
  flex-basis: calc(20% - 20px);
}

.table__cell__heading__dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell__text__dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman__illustration__dark {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: -210px;
}



/* ----------FOOTER---------- */

.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding-top: 60px;
  margin: 0 auto;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: white;
  padding-top: 18px;
}

.footer__column-heading {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: white;
  margin-bottom: 20px;
}

.footer__column-links {
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;
  margin-bottom: 16px;
}

.social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}